

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HCoin crypto currency</title>
</head>

<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/logo.png" width="35" height="35" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/transactions">Transactions </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chain">Chain </a>
      </li>
    </ul>
  </div>
</nav>


<div class="card text-center">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">Account Information</h5>
    <p class="card-text">PublicKey : <%= JSON.stringify(chain.publicKey) %></p>
    <p class="card-text">Current Balance : <%= JSON.stringify(JSON.stringify(chain.checkBalance(chain.publicKey))) %></p>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pending Transactions</h5>
        <p class="card-text"><%= JSON.stringify(chain.transactions) %></p>
        <form action="/mine" method="POST">
           <button type="submit" class="btn btn-primary">Mine</button>
        </form>
        <form action="/update" method="POST">
           <button type="submit" class="btn btn-primary">update serverList</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Make A payment</h5>
        <p class="card-text"></p>
        <form action="/addTransaction" method="POST">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Reciever" id="exampleInputPassword1" name="reciever">
          </div>
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Amount" name="amount">
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
